:root {
  --color-1: #610c9f;
  --color-2: #cd5c08;
  --color-3: #219c90;
  --svg-1: url('assets/thinking_1.svg');
  --svg-2: url('assets/thinking_2.svg');
  --svg-3: url('assets/thinking_3.svg');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  color: #444;
  line-height: 1.9;
  background-color: #f1efef;
}

.header {
  height: 100vh;
  padding: 0 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav {
  background-color: #9e9e9e;
  z-index: 100;
  display: flex;
  width: 100%;
  height: 9rem;
}
.header__title {
  flex: 1;

  max-width: 130rem;
  display: grid;
  grid-template-columns: 3fr 2fr;
  row-gap: 3rem;
  align-content: center;
  justify-content: center;

  align-items: start;
  justify-items: start;
  transition: 1s;
}

h1 {
  font-size: 5.5rem;
  line-height: 1.35;
}

h4 {
  font-size: 2.4rem;
  font-weight: 500;
}

.header__img {
  width: 100%;
  grid-column: 2 / 3;
  grid-row: 1 / span 3;
  transform: translateY(-6rem);
}

.header__img::before {
  content: var(--svg-1);
}

.highlight {
  position: relative;
}

.highlight::after {
  display: block;
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.7;
  transform: scale(1.07, 1.05) skewX(-15deg);
  background-color: var(--color-1);
}
